@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">Category list</h2>
            </div>
            <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-square"></i> Create New Categeory</a>
            </div>
        </div>

       
  <table class="table table-bordered table-striped table-secondary ">


        <thead>
            <tr>
                <th>
                   
                </th>
                <th>
                    @Html.ActionLink("Name", "Index", new { searchString = ViewBag.SearchString, sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Display Order", "Index", new { searchString = ViewBag.SearchString, sortOrder = ViewBag.DisplayOrderSortParm })
                </th>
                <th>

                    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
                    {
                        <label>Find by name: @Html.TextBox("SearchString", ViewBag.SearchString as string)</label>
                        <input type="submit" value="Search" />
                    }
                </th>
                  
            </tr>
        </thead>
        <tbody>
    
            
            @foreach(var obj in Model) {
                <tr>
                    <td class="col-1">
                        <img src="@obj.ImageUrl" class="" width="100%"/>
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.DisplayOrder
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-dark mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        </div>

                    </td>
                </tr>

            }
        </tbody>
       
           
        
    </table>
    <nav aria-label="Page navigation example ">


        @if (pager.TotalPages > 0)
        {
            <ul class="pagination pagination-sm justify-content-center">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item ">
                        <a class="page-link border-secondary " asp-controller="Category" asp-action="Index"  asp-route-searchString="@ViewBag.SearchString" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link border-secondary" aria-label="Previous" asp-controller="Category" asp-action="Index" asp-route-searchString="@ViewBag.SearchString" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.CurrentPage-1)"> <span aria-hidden="true">&laquo;</span></a>
                    </li>

                }
               
                @for (var pge = pager.StartPage; pge <= pager.Endpage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link border-secondary" asp-controller="Category" asp-action="Index" asp-route-searchString="@ViewBag.SearchString" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@pge">@pge</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link border-secondary" aria-label="Next" asp-controller="Category" asp-action="Index" asp-route-searchString="@ViewBag.SearchString" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.CurrentPage+1)"> <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link border-secondary" asp-controller="Category" asp-action="Index" asp-route-searchString="@ViewBag.SearchString" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </nav>

</div>

